@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To Do Lists</h1>
    <hr />
    <p><a href="@Url.Action("Create","Lists")" class="btn btn-primary btn-lg">Create New List &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lists</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index","Lists")">Lists Index &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Items</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index","Items")">Items Index &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Items</h2>
        <p><a class="btn btn-default" href="@Url.Action("Create","Items")">Add new items &raquo;</a></p>
    </div>
</div>